.row-header {
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer {
    background-color: #008400;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #008400;
    color:white;
    box-shadow: 1px 1px 10px #0f0f0f
}

.address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
} 

a {
    color: white;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.breadcrumb {
    background-color: #512DA8;
}

.navbar-dark {
     background-color: #512DA8;
     box-shadow: 1px 1px 3px #0f0f0f
}

.fa-phone, .fa-fax, .fa-envelope {
    color: white;
    text-shadow: 1px 1px 10px #0f0f0f
}

.btn-social-icon {
    border: none;
    color: white;
}